.container {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 5%;
  background-color: white;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.feature-container {
  display: grid;
  max-width: 300px;
  align-items: center;
  justify-items: center;
  padding: 20px;
  text-align: center;
}

.feature-icon-container {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 80px;
  height: 80px;
  background-color: #E3E7F0;
  border-radius: 50%;
}