.container {
  position: absolute;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-family: 'Pomidorko_cyr';
  width: 100px;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px silver;
  min-height: 100px;
  background: rgb(218,251,21);
  background: linear-gradient(90deg, rgba(218,251,21,1) 0%, rgba(185,255,0,1) 100%);
  z-index: 1000;
}
