.container {
  display: grid;
  justify-items: center;
  background-color: white;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.location-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  justify-items: center;
  width: 100%;
}