.container {
  display: grid;
  grid-template-rows: 3fr 1fr;
  background-color: white;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  align-items: center;
  justify-items: center;
  padding: 10%;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.logo-container {
  display: grid;
  gap: 50px;
}

.logo {
  font-size: 3rem;
}

.anchors-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  white-space: nowrap;
}

.contacts-container {
  display: grid;
  gap: 20px;
}

.author-container {
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--backgroundThird);
}