.container {
  display: grid;
  gap: 20px;
  background-color: white;
}

.container-title {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.container-title input[type="date"] {
  cursor: pointer;
  font-size: 2.5rem;
  font-family: 'Pomidorko_cyr';
  border: none;
}

.menu-container {
  position: relative;
  padding: 5% 10%;
  display: grid;
  gap: 20px;
}

.print-icon {
  position: absolute;
  top: 20px;
  z-index: 1000;
  color: #6B6B6B;
  font-size: 2rem;
  right: 20px;
  border: 1px solid silver;
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s ease;
  box-shadow: 1px 2px 1px silver;
  cursor: pointer;
}

.print-icon:hover {
  color: black;
  background-color: #0FF74D;
  border-color: #0FF74D;
}

.print-icon:active {
  transform: scale(0.95);
}

.meal-time-container {
  background-color: white;
  padding: 5%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal-time-container h1 {
  text-decoration: underline;
}

.meals-container {
  width: 100%;
}

.meals-container::-webkit-scrollbar {
  width: 5px;
}

.meals-container::-webkit-scrollbar-track {
  background-color: #E3E7F0;
  border-radius: 5px;
}

.meals-container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.meal-item-detail {
  display: grid;
  gap: 20px;
  justify-items: start;
  grid-template-columns: 3fr 1fr 1fr;
}

.meal-item-detail p {
  width: 100%;
  padding: 10px;
}

.meal-item-detail p:not(:last-child) {
  border-right: 1px solid silver;
}