.container {
  display: grid;
  justify-items: center;
  overflow: hidden;
  background-color: white;
}

.container-title {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-title input[type="date"] {
  cursor: pointer;
  font-size: 2.5rem;
  font-family: 'Pomidorko_cyr';
  border: none;
}

.menu-container {
  position: relative;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 10%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.print-icon {
  position: absolute;
  top: 20px;
  z-index: 1000;
  color: #6B6B6B;
  font-size: 3rem;
  right: 60px;
}

.meal-time-container {
  display: grid;
  padding: 5%;
  /* remove me (width) if it need */
  width: 100%;
  grid-template-rows: min-content auto;
  justify-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  opacity: 0.95;
}

.meal-time-container h1 {
  text-decoration: underline;
}

.meals-container {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
}

.meals-container::-webkit-scrollbar {
  width: 5px;
}

.meals-container::-webkit-scrollbar-track {
  background-color: #E3E7F0;
  border-radius: 5px;
}

.meals-container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.meal-item-detail {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
}

.meal-item-detail p {
  padding: 5px 10px;
}

.meal-item-detail p:not(:last-child) {
  border-right: 1px solid silver;
}