.container {
  display: grid;
  margin: 0 5%;
  font-family: 'Pomidorko_cyr';
  background-color: whitesmoke;
  background-attachment: fixed;
  background-size: contain;
  box-shadow: 2px 1px 2px 2px silver;
}