.container {
  display: grid;
  background-color: white;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 5%;
}

.dashboard-container {
  display: grid;
  box-shadow: 1px 1px 1px 1px silver;
  border-radius: 10px;
  overflow: hidden;
}

.nav-container {
  display: grid;
  position: relative;
  align-items: center;
  background-color: whitesmoke;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
}

.logout-icon {
  position: absolute;
  cursor: pointer;
  right: 20px;
}

.logout-icon:hover {
  color: red;
}